*.log
/.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
/resources
/x64
/professional_headshots
/resumes
*.py
*.csproj
*.v2
*.json
*.dll
*.pdb
*.cache
*.CopyComplete
*.txt
*.g.cs
*.g.props
*.targets
*.editorconfig
*.semaphore
*.user
*.suo
*.pubxml
*.vsidx
*.lock
*.bin
*.AssemblyInfo.cs
*.AssemblyAttributes.cs
bin
obj
*.brother
